<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATTERN">
            %d{HH:mm:ss} [%t] %-5level %c{1} - %msg%n
        </Property>
    </Properties>

    <Appenders>

        <!-- CONSOLE -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- FILE -->
        <File name="FileLogger" fileName="logs/api-automation.log" append="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

    </Appenders>

    <Loggers>

        <!-- Your framework packages -->
        <Logger name="com.booking" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Root logger (fallback) -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>
