name: API Automation

on:
  schedule:
    - cron: '0 * * * *'   # every hour at minute 0 (UTC)
  push:
    branches: [ main ]
  workflow_dispatch:       # allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      #  Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      # Run tests
      - name: Run tests
        run: mvn clean test

      #  Upload Cucumber HTML report as artifact
      - name: Upload Cucumber HTML report
        uses: actions/upload-artifact@v3
        with:
          name: cucumber-report
          path: target/cucumber-reports/html

      # Publish JUnit test results
      - name: Publish Test Results
        uses: dorny/test-reporter@v1
        with:
          name: API Tests
          path: target/surefire-reports/TEST-*.xml
          reporter: junit
