name: API Automation

on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Run Maven tests
        run: mvn clean test

      - name: Upload Cucumber HTML report
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-report
          path: target/cucumber-reports/html

      - name: Publish JUnit Test Results
        uses: dorny/test-reporter@v1
        with:
          name: API Tests
          path: target/surefire-reports
          reporter: java-junit
