name: API Automation


on:
  schedule:
    - cron: '0 * * * *'   # every hour at minute 0 (UTC)
  push:
    branches: [ main ]
  workflow_dispatch:       # allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@latest

      # Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@latest
        with:
          distribution: temurin
          java-version: '17'

      # Run Maven tests
      - name: Run Maven tests
        id: run_tests
        run: mvn clean test

      # Upload Cucumber HTML report as artifact
      - name: Upload Cucumber HTML report
        uses: actions/upload-artifact@latest
        with:
          name: cucumber-report
          path: target/cucumber-reports/html

      # Upload JUnit test results as artifact
      - name: Upload JUnit Test Results
        uses: actions/upload-artifact@latest
        with:
          name: junit-report
          path: target/surefire-reports/TEST-*.xml

      # Publish JUnit test results to GitHub Actions
      - name: Publish Test Results
        uses: dorny/test-reporter@latest
        with:
          name: API Tests
          path: target/surefire-reports/TEST-*.xml
          reporter: junit

      #  Optional: Print UTC time for logs
      - name: Print UTC time
        run: date -u
